<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		
	</startup>
	<appSettings>
		<add key="server" value="localhost"/>
		<add key="database" value="iktato"/>
		<add key="user" value="root"/>
		<add key="password" value=""/>

	</appSettings>
	<connectionStrings>
		<add name="MyDbConnection" connectionString="Server='localhost'; Database='iktato'; User Id='root';Password='';"/>
	</connectionStrings>
</configuration>